{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Products{% endblock %}</title>
    <link rel="stylesheet" href="/static/products/css/styles.css" />
  </head>
  <body>
    <header>
      <nav
        style="
          position: relative;
          display: flex;
          justify-content: space-between;
          align-items: center;
        "
      >
        <div class="app-name">
          <h1 style="color: orange">Product</h1>
        </div>
        {% if user.is_authenticated %}
        <div class="user-menu">
          <img
            src="{% static 'images/user_icon.jpg' %}"
            alt="User Icon"
            class="user-icon"
          />
          <div class="dropdown-content">
            <a href="{% url 'delete_account' %}">Delete Account</a>
          </div>
        </div>
        {% endif %}
      </nav>
    </header>
    <main>
      {% block view_controls %}{% endblock %} {% block content %}{% endblock %}
    </main>
  </body>
</html>
